# Pandas

V tem poglavju bomo pogledali, kaj nam omogoča knjižnjica Pandas. Glavna razlika med Pandas (pd) in Numpy (np) je, da ta, da ima pd samo dva podatkovna tipa. To sta Series (1D) in DataFrame (2D). Podatki v frame-u so lahko različnih tipov, medtem ko pri np temu ni tako.

## Namestitev Pandas

`uv pip install "pandas[excel,performance,html]"`

In [43]:
import numpy as np
import pandas as pd

Preverimo, katero verzijo mo namestili:

In [44]:
np.__version__

'2.2.3'

In [45]:
pd.__version__

'2.2.3'

Datoteko odpremo z ukazom:

In [46]:
pd.read_csv

<function pandas.io.parsers.readers.read_csv(filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]', *, sep: 'str | None | lib.NoDefault' = <no_default>, delimiter: 'str | None | lib.NoDefault' = None, header: "int | Sequence[int] | None | Literal['infer']" = 'infer', names: 'Sequence[Hashable] | None | lib.NoDefault' = <no_default>, index_col: 'IndexLabel | Literal[False] | None' = None, usecols: 'UsecolsArgType' = None, dtype: 'DtypeArg | None' = None, engine: 'CSVEngine | None' = None, converters: 'Mapping[Hashable, Callable] | None' = None, true_values: 'list | None' = None, false_values: 'list | None' = None, skipinitialspace: 'bool' = False, skiprows: 'list[int] | int | Callable[[Hashable], bool] | None' = None, skipfooter: 'int' = 0, nrows: 'int | None' = None, na_values: 'Hashable | Iterable[Hashable] | Mapping[Hashable, Iterable[Hashable]] | None' = None, keep_default_na: 'bool' = True, na_filter: 'bool' = True, verbose: 'bool | lib.NoDefault' = <no_default>, skip_blank_lines: 'bool' = True, parse_dates: 'bool | Sequence[Hashable] | None' = None, infer_datetime_format: 'bool | lib.NoDefault' = <no_default>, keep_date_col: 'bool | lib.NoDefault' = <no_default>, date_parser: 'Callable | lib.NoDefault' = <no_default>, date_format: 'str | dict[Hashable, str] | None' = None, dayfirst: 'bool' = False, cache_dates: 'bool' = True, iterator: 'bool' = False, chunksize: 'int | None' = None, compression: 'CompressionOptions' = 'infer', thousands: 'str | None' = None, decimal: 'str' = '.', lineterminator: 'str | None' = None, quotechar: 'str' = '"', quoting: 'int' = 0, doublequote: 'bool' = True, escapechar: 'str | None' = None, comment: 'str | None' = None, encoding: 'str | None' = None, encoding_errors: 'str | None' = 'strict', dialect: 'str | csv.Dialect | None' = None, on_bad_lines: 'str' = 'error', delim_whitespace: 'bool | lib.NoDefault' = <no_default>, low_memory: 'bool' = True, memory_map: 'bool' = False, float_precision: "Literal['high', 'legacy'] | None" = None, storage_options: 'StorageOptions | None' = None, dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>) -> 'DataFrame | TextFileReader'>

In [47]:
dos = pd.read_csv("../data/dos.csv")
# When displaying a DataFrame, the first and last 5 rows will be shown by default:
dos

   1-ID  2-prihodek  3-odhodek  4-dobicek 5-odgovorna oseba
0     1        1000        500        500              Taja
1     2        5000       1000       4000              Jure
2     3        4500       2000       2500             Ljubo
3     4        3000       1000       2000             Ervin
4     5        3500       3000        500              Anja
5     6        1000        500        500             Zarja
6     7         500        200        300               Tim

Preverimo tip:

In [48]:
type(dos)

pandas.core.frame.DataFrame

Preverimo osnovne informacije, koliko elementov imamo:

In [49]:
dos.shape

(7, 5)

Vidimo, da imamo 7 vrstic in 5 stolpcev.

Želimo preveriti, kaj je v prvih treh vrsticah:

In [50]:
dos.head(3)

   1-ID  2-prihodek  3-odhodek  4-dobicek 5-odgovorna oseba
0     1        1000        500        500              Taja
1     2        5000       1000       4000              Jure
2     3        4500       2000       2500             Ljubo

Želimo preeriti, kaj je v zadnjih treh vrsticah:

In [51]:
dos.tail(3)

   1-ID  2-prihodek  3-odhodek  4-dobicek 5-odgovorna oseba
4     5        3500       3000        500              Anja
5     6        1000        500        500             Zarja
6     7         500        200        300               Tim

Preverimo, kakšne tipe spremenljivk imamo v stolpcih:

In [52]:
dos.dtypes

1-ID                  int64
2-prihodek            int64
3-odhodek             int64
4-dobicek             int64
5-odgovorna oseba    object
dtype: object

Preverim splošne informacije za datoteko dos:

In [53]:
dos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   1-ID               7 non-null      int64
 1   2-prihodek         7 non-null      int64
 2   3-odhodek          7 non-null      int64
 3   4-dobicek          7 non-null      int64
 4   5-odgovorna oseba  7 non-null      object
dtypes: int64(4), object(1)
memory usage: 412.0+ bytes

Zgoraj vidimo, da je velikost zapisana v obliki številka plus "+". To je zaradi tega, ker imamo v datoteki tudi stringe, ki predstavljajo velikost "+". Če želimo preveriti resnično velikost tako stringov kot ne-stringov:

In [54]:
dos.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   1-ID               7 non-null      int64
 1   2-prihodek         7 non-null      int64
 2   3-odhodek          7 non-null      int64
 3   4-dobicek          7 non-null      int64
 4   5-odgovorna oseba  7 non-null      object
dtypes: int64(4), object(1)
memory usage: 729.0 bytes

Če želimo izpisati samo imena stolpcev:

In [55]:
dos.columns

Index(['1-ID', '2-prihodek', '3-odhodek', '4-dobicek', '5-odgovorna oseba'], dtype='object')

Če želimo preveriti samo indekse:

In [56]:
dos.index

RangeIndex(start=0, stop=7, step=1)

Če želimo izpisati samo podatke:

In [57]:
dos.values

array([[1, 1000, 500, 500, 'Taja'],
       [2, 5000, 1000, 4000, 'Jure'],
       [3, 4500, 2000, 2500, 'Ljubo'],
       [4, 3000, 1000, 2000, 'Ervin'],
       [5, 3500, 3000, 500, 'Anja'],
       [6, 1000, 500, 500, 'Zarja'],
       [7, 500, 200, 300, 'Tim']], dtype=object)

Iz pd želimo preiti v np:

In [58]:
dos.to_numpy()

array([[1, 1000, 500, 500, 'Taja'],
       [2, 5000, 1000, 4000, 'Jure'],
       [3, 4500, 2000, 2500, 'Ljubo'],
       [4, 3000, 1000, 2000, 'Ervin'],
       [5, 3500, 3000, 500, 'Anja'],
       [6, 1000, 500, 500, 'Zarja'],
       [7, 500, 200, 300, 'Tim']], dtype=object)

## Izbira podatkov

Pomagali si bomo z ukazoma .iloc (vezan na indekse) in .loc(vezan na imena v vrsticah).

### Ukaz .iloc

Izpišimo 2. in 3. vrstico:

In [ ]:
dos[1:3]  # To je shortcut

   1-ID  2-prihodek  3-odhodek  4-dobicek 5-odgovorna oseba
1     2        5000       1000       4000              Jure
2     3        4500       2000       2500             Ljubo

Želimo izpisati 4. stolpec z imenom spremenljivke:

In [ ]:
dos.iloc[:, [3]]

   4-dobicek
0        500
1       4000
2       2500
3       2000
4        500
5        500
6        300

Želimo izpisati 4. stolpec brez imena spremenljivke:

In [ ]:
dos.iloc[:, 3]

0     500
1    4000
2    2500
3    2000
4     500
5     500
6     300
Name: 4-dobicek, dtype: int64

Želimo izpisati 2., 4. in 5. stolpec:

In [ ]:
dos.iloc[:, [1, 3, 4]]

   2-prihodek  4-dobicek 5-odgovorna oseba
0        1000        500              Taja
1        5000       4000              Jure
2        4500       2500             Ljubo
3        3000       2000             Ervin
4        3500        500              Anja
5        1000        500             Zarja
6         500        300               Tim

Želimo izpisati samo 2. in 3. stolpec:

In [ ]:
dos.iloc[:, 1:3]

   2-prihodek  3-odhodek
0        1000        500
1        5000       1000
2        4500       2000
3        3000       1000
4        3500       3000
5        1000        500
6         500        200

Izpišimo 4. vrstico:

In [ ]:
s1 = dos.iloc[3]
print(s1)

1-ID                     4
2-prihodek            3000
3-odhodek             1000
4-dobicek             2000
5-odgovorna oseba    Ervin
Name: 3, dtype: object

Izpišimo 4. vrstico skupaj z indeksom:

In [ ]:
s2 = dos.iloc[[3]]
print(s2)

   1-ID  2-prihodek  3-odhodek  4-dobicek 5-odgovorna oseba
3     4        3000       1000       2000             Ervin

V vrstici 4 je v drugem stolpcu element:

In [86]:
s1.iloc[1]

np.int64(3000)

V 2. in 4. stolpcu pa elementa:

In [ ]:
s1.iloc[[1, 3]]

2-prihodek    3000
4-dobicek     2000
Name: 3, dtype: object

V 3. in 4. stolpcu najdemo:

In [89]:
s1.iloc[2:4]

3-odhodek    1000
4-dobicek    2000
Name: 3, dtype: object

Izberimo 1. in 3. vrstico, ter vse stolpce od začetka do 4.:

In [ ]:
dos.iloc[[0, 2], :3]

   1-ID  2-prihodek  3-odhodek
0     1        1000        500
2     3        4500       2000

Torej velja df.iloc[row_index, column_index]

### Ukaz .loc

Izberimo vse vrstice v stolpcu 4-dobicek:

In [ ]:
dos.loc[:, "4-dobicek"]

0     500
1    4000
2    2500
3    2000
4     500
5     500
6     300
Name: 4-dobicek, dtype: int64

In [ ]:
print(dos)

   1-ID  2-prihodek  3-odhodek  4-dobicek 5-odgovorna oseba
0     1        1000        500        500              Taja
1     2        5000       1000       4000              Jure
2     3        4500       2000       2500             Ljubo
3     4        3000       1000       2000             Ervin
4     5        3500       3000        500              Anja
5     6        1000        500        500             Zarja
6     7         500        200        300               Tim

Za indekse nastavimo naše "5-odgovorna oseba":

In [ ]:
df = dos.set_index("5-odgovorna oseba")

In [98]:
df

                   1-ID  2-prihodek  3-odhodek  4-dobicek
5-odgovorna oseba
Taja                  1        1000        500        500
Jure                  2        5000       1000       4000
Ljubo                 3        4500       2000       2500
Ervin                 4        3000       1000       2000
Anja                  5        3500       3000        500
Zarja                 6        1000        500        500
Tim                   7         500        200        300

Izpišimo stolpec "2-prihodek":

In [ ]:
df.loc[:, "2-prihodek"]

5-odgovorna oseba
Taja     1000
Jure     5000
Ljubo    4500
Ervin    3000
Anja     3500
Zarja    1000
Tim       500
Name: 2-prihodek, dtype: int64

Izpišimo 2. vrstico iz stolpca "2-prihodek":

In [ ]:
print(df.loc[:, "2-prihodek"][1])

5000

C:\Users\ervin.strmcnik\AppData\Local\Temp\ipykernel_1944\3812610675.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(df.loc[:,"2-prihodek"][1])

Uporabimo bližnjico in izpišimo stolpec "2-prihodek":

In [ ]:
df[c]  # single_col

5-odgovorna oseba
Taja      500
Jure     1000
Ljubo    2000
Ervin    1000
Anja     3000
Zarja     500
Tim       200
Name: 3-odhodek, dtype: int64

Če želimo izpisati prvo vrstico:

In [ ]:
df.loc["Jure"]  # single_row

1-ID             2
2-prihodek    5000
3-odhodek     1000
4-dobicek     4000
Name: Jure, dtype: int64

Izberimo specifične stolpce:

In [ ]:
df[["1-ID", "3-odhodek", "4-dobicek"]]

                   1-ID  3-odhodek  4-dobicek
5-odgovorna oseba
Taja                  1        500        500
Jure                  2       1000       4000
Ljubo                 3       2000       2500
Ervin                 4       1000       2000
Anja                  5       3000        500
Zarja                 6        500        500
Tim                   7        200        300

Izberimo specifične vrstice:

In [ ]:
df.loc[["Taja", "Zarja"]]

                   1-ID  2-prihodek  3-odhodek  4-dobicek
5-odgovorna oseba
Taja                  1        1000        500        500
Zarja                 6        1000        500        500

Poglejmo 2-prihodek in 3-odhodek za vse osebe:

In [ ]:
df.loc[:, ["2-prihodek", "3-odhodek"]]

                   2-prihodek  3-odhodek
5-odgovorna oseba
Taja                     1000        500
Jure                     5000       1000
Ljubo                    4500       2000
Ervin                    3000       1000
Anja                     3500       3000
Zarja                    1000        500
Tim                       500        200

Izpišimo 2. in 3. stolpec in tudi indekse:

In [ ]:
df[["2-prihodek", "3-odhodek"]]

                   2-prihodek  3-odhodek
5-odgovorna oseba
Taja                     1000        500
Jure                     5000       1000
Ljubo                    4500       2000
Ervin                    3000       1000
Anja                     3500       3000
Zarja                    1000        500
Tim                       500        200

Če želimo izpisati podatke z indeksi:

In [ ]:
df.loc[:, "2-prihodek"]
# dos.iloc[:,3]

5-odgovorna oseba
Taja     1000
Jure     5000
Ljubo    4500
Ervin    3000
Anja     3500
Zarja    1000
Tim       500
Name: 2-prihodek, dtype: int64

Če želimo izpisati samo podatke brez indeksov:

In [132]:
print(df[["2-prihodek"]].to_string(index=False))

 2-prihodek
       1000
       5000
       4500
       3000
       3500
       1000
        500

Želimo preveriti samo vrstico Taja:

In [133]:
df.loc["Taja"]

1-ID             1
2-prihodek    1000
3-odhodek      500
4-dobicek      500
Name: Taja, dtype: int64

Želimo preveriti samo vrstico Taja in Jure:

In [ ]:
df.loc[["Taja", "Jure"]]

                   1-ID  2-prihodek  3-odhodek  4-dobicek
5-odgovorna oseba
Taja                  1        1000        500        500
Jure                  2        5000       1000       4000

Želimo izbrati več zaporednih stolpcev:

In [136]:
df.loc["Ljubo":"Zarja"]

                   1-ID  2-prihodek  3-odhodek  4-dobicek
5-odgovorna oseba
Ljubo                 3        4500       2000       2500
Ervin                 4        3000       1000       2000
Anja                  5        3500       3000        500
Zarja                 6        1000        500        500

Bližnjica za df.loc["Ljubo":"Zarja"] je df["Ljubo":"Zarja"]

In [137]:
df["Ljubo":"Zarja"]

                   1-ID  2-prihodek  3-odhodek  4-dobicek
5-odgovorna oseba
Ljubo                 3        4500       2000       2500
Ervin                 4        3000       1000       2000
Anja                  5        3500       3000        500
Zarja                 6        1000        500        500

#### Povzetek za .loc

En stolpec (eksplicitno):

In [ ]:
df.loc[:, "2-prihodek"]

5-odgovorna oseba
Taja     1000
Jure     5000
Ljubo    4500
Ervin    3000
Anja     3500
Zarja    1000
Tim       500
Name: 2-prihodek, dtype: int64

En stolpec (poenostavljeno):

In [140]:
df["2-prihodek"]

5-odgovorna oseba
Taja     1000
Jure     5000
Ljubo    4500
Ervin    3000
Anja     3500
Zarja    1000
Tim       500
Name: 2-prihodek, dtype: int64

En stolpec (shortcut) tudi df.col1.

Več stolpcev (eksplicitno):

In [148]:
df.loc[:, ["1-ID", "3-odhodek"]]

                   1-ID  3-odhodek
5-odgovorna oseba
Taja                  1        500
Jure                  2       1000
Ljubo                 3       2000
Ervin                 4       1000
Anja                  5       3000
Zarja                 6        500
Tim                   7        200

Več stolpcev (poenostavljeno):

In [149]:
df[["1-ID", "3-odhodek"]]

                   1-ID  3-odhodek
5-odgovorna oseba
Taja                  1        500
Jure                  2       1000
Ljubo                 3       2000
Ervin                 4       1000
Anja                  5       3000
Zarja                 6        500
Tim                   7        200

Zaporedni stolpci (eksplicitno):

In [153]:
df.loc[:, "1-ID":"3-odhodek"]

                   1-ID  2-prihodek  3-odhodek
5-odgovorna oseba
Taja                  1        1000        500
Jure                  2        5000       1000
Ljubo                 3        4500       2000
Ervin                 4        3000       1000
Anja                  5        3500       3000
Zarja                 6        1000        500
Tim                   7         500        200

Ena vrstica (eksplicitno):

In [156]:
df.loc["Taja"]

1-ID             1
2-prihodek    1000
3-odhodek      500
4-dobicek      500
Name: Taja, dtype: int64

Več vrstic (eksplicitno):

In [158]:
df.loc[["Taja", "Jure"]]

                   1-ID  2-prihodek  3-odhodek  4-dobicek
5-odgovorna oseba
Taja                  1        1000        500        500
Jure                  2        5000       1000       4000

Zaporedne vrstice (eksplicitno):

In [159]:
df.loc["Taja":"Jure"]

                   1-ID  2-prihodek  3-odhodek  4-dobicek
5-odgovorna oseba
Taja                  1        1000        500        500
Jure                  2        5000       1000       4000

Zaporedne vrstice (shortcut):

In [160]:
df["Jure":"Anja"]

                   1-ID  2-prihodek  3-odhodek  4-dobicek
5-odgovorna oseba
Jure                  2        5000       1000       4000
Ljubo                 3        4500       2000       2500
Ervin                 4        3000       1000       2000
Anja                  5        3500       3000        500

In [ ]:
print(df)

                   1-ID  2-prihodek  3-odhodek  4-dobicek
5-odgovorna oseba
Taja                  1        1000        500        500
Jure                  2        5000       1000       4000
Ljubo                 3        4500       2000       2500
Ervin                 4        3000       1000       2000
Anja                  5        3500       3000        500
Zarja                 6        1000        500        500
Tim                   7         500        200        300